@{
    ViewData["Title"] = "Вход";
}

<h2>Вход</h2>

<form method="post" asp-action="Login" asp-controller="Auth">
    <div>
        <label>Email</label>
        <input type="email" name="Email" required class="form-control" />
    </div>
    <div>
        <label>Пароль</label>
        <input type="password" name="Password" required class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top:10px;">Войти</button>
</form>
