@{
    ViewData["Title"] = "Главная";
}

<h1>Добро пожаловать в Diet Planner</h1>
<p>Планируйте своё питание и следите за рационом!</p>

<div style="margin-top:20px;">
    <a class="btn btn-primary" href="/Auth/Login">Войти</a>
    <a class="btn btn-success" href="/Auth/Register">Зарегистрироваться</a>
</div>